.apartment-card{
    flex-basis: 33.3333%;
}

.apartment-card p.muted {
    font-weight: 300;
}
/* 
.apartment-card img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .apartment-card img {
        height: 40vw;
    }
} */