:root {
    --dark: #151C0D;
    --white: #EFEFEF;
    --dark-accent: #D2CCA1;
    --gold: #D2CCA1;
    --gray: #767780;
    --light-accent: #2D3A3A;
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: lighter;
}

.spacer {
    height: 50vh;
}

.text-gold {
    color: #D2CCA1;
}