nav.navbar {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    background-color: #151C0D;
    top: 0;
    z-index: 1000;
}

.nav-item {
    text-transform: uppercase;
}

.logo {
    margin-left: 40px;
}

a {
    letter-spacing: 1px;
    font-weight: 300;
}

.navbar-brand span {
    font-weight: regular;
    margin-left: 1rem;
}

.navbar-right {
    justify-content: flex-end;
}

.dropdown-item {
    text-transform: none;
    letter-spacing: normal;
}

.dropdown-menu {
    background-color: transparent;
}

.dropdown-item {
    color: #fff;
}

@media (max-width: 991px) {
    .navbar-right {
        justify-content: inherit;
    }
}

@media (max-width: 767px) {
    .navbar-brand span {
        font-size: 0.8rem;
    }
}

@media (max-width: 771px) {
    .navbar-brand {
        font-size: 0.8rem;
        margin-left: 0;
    }
}

